# Ignorar proyecto de CLion
.idea/
cmake-build-debug/

# Files that won't be included
*.pdf
notas-tp4.txt
*.7z
*.mdj

# Directories that won't be included
.idea/
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
